@import "tailwindcss";
@import "normalize.css";

:root {
  --toastify-color-success: #2ed9a3 !important;
  --toastify-color-error: #ff5c7a !important;

  --toastify-icon-color-success: var(--toastify-color-success) !important;
  --toastify-icon-color-error: var(--toastify-color-error) !important;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

#main {
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @apply min-h-screen w-full
    flex flex-col;
}

#content {
  @apply w-full h-full px-60 py-20;
}

#home {
  @apply w-full h-full
    grid grid-cols-3 gap-18;
}
