@import "tailwindcss";
@import "normalize.css";

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

#main {
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @apply min-h-screen w-full
    flex flex-col;
}
